<%- include("partials/header"); -%>
    <h1>Home</h1>
    <p><%= content %></p>

    <!-- rendering posts -->
    <!-- <% console.log(posts); %> -->
    <% posts.forEach((post)=>{ %>
        <h1><%= post.title %></h1>
        <!-- <% let truncated = post.body.slice(0, 100); %>
        <% truncated += "... "; %> -->
        <p>
            <%= truncated.slice(0, 100) + " ... " %>
            <a href="/posts/<%= post.title %>">Read more</a>
        </p>
    <% }) %>

<%- include("partials/footer"); -%>